# Exploring Jupyter

 - Loading files
 - Analyzing files
 - Calculating differences

### Working with python

In [3]:
name = "Shall we play a game?"

In [4]:
print(name)

Shall we play a game?

### Working with command line

In [7]:
!ls

Analytics.ipynb       btree.cpp             requirements.txt
Exception_Draft.ipynb env                   vin_dataset_master

In [4]:
!cp ../pandas_file_comparison/training/base_50 .

In [5]:
!cp ../pandas_file_comparison/training/base_100 .

###  Working with Pandas

In [8]:
import pandas as pd

In [9]:
df_50 = pd.read_csv('vin_dataset_master', sep='\t', names=['vin', 'make'])

In [10]:
df_50.describe()

           vin    make
count   262617  262617
unique       1      35
top      LEXUS      RX
freq    262617   85282

In [9]:
df_100 = pd.read_csv('base_100', sep='\t', names=['vin', 'make'])

In [10]:
df_100.describe()

                      vin   make
count                 100    100
unique                100     16
top     1J8HH48P47C636135  LEXUS
freq                    1     33

In [11]:
df = df_50['vin'].isin(df_100['vin'])

In [12]:
df.describe()

count       50
unique       1
top       True
freq        50
Name: vin, dtype: object

In [13]:
df.describe()

count       50
unique       1
top       True
freq        50
Name: vin, dtype: object

### Comparing DataFrames
The following code lists all records where vin are in both df_50 and df_100. Reordering the DataFrames at the beginning of the function will impact the results. Modifying the how parameter from 'left' to 'right' will also have the same impact as reordering the DataFrames.

In [14]:
merge_df = pd.merge(df_50, df_100, on=['vin'], how='left')
merge_df

                  vin         make_x         make_y
0   WBAVC93527KX57115            BMW            BMW
1   5TDZK22C08S144726         TOYOTA         TOYOTA
2   5TDZK22C18S143326         TOYOTA         TOYOTA
3   5TDZK22C58S129784         TOYOTA         TOYOTA
4   JTHBJ46G782185180          LEXUS          LEXUS
5   JTHBJ46G682185204          LEXUS          LEXUS
6   JTHBJ46G682169908          LEXUS          LEXUS
7   JTHBJ46G382172586          LEXUS          LEXUS
8   JTHBJ46G882175791          LEXUS          LEXUS
9   JTHBJ46G982175878          LEXUS          LEXUS
10  JTHBJ46G182176684          LEXUS          LEXUS
11  JTEBT14R48K001632         TOYOTA         TOYOTA
12  5TDZK22C18S146193         TOYOTA         TOYOTA
13  WBAVD135X6KV03181            BMW            BMW
14  5TDZK22C98S135555         TOYOTA         TOYOTA
15  JTHBJ46G072023681          LEXUS          LEXUS
16  JTHBJ46G372031435          LEXUS          LEXUS
17  5TDZK22C48S145992         TOYOTA         TOYOTA
18  JTNBB46K483047170         TOYOTA         TOYOTA
19  1YVHP80D375M13991          MAZDA          MAZDA
20  JT3HJ85J1V0186353         TOYOTA         TOYOTA
21  1HGEM22983L076457          HONDA          HONDA
22  JF1GD70655L525454         SUBARU         SUBARU
23  5N1BV28U04N367188         NISSAN         NISSAN
24  1HGFA165X6L093876          HONDA          HONDA
25  1C3EL55R84N365590       CHRYSLER       CHRYSLER
26  1C3EL55R34N335803       CHRYSLER       CHRYSLER
27  JHMBB61401C000991          HONDA          HONDA
28  1FMZU63E91ZA27244           FORD           FORD
29  WDBRF54H26A871275  MERCEDES-BENZ  MERCEDES-BENZ
30  JTJHW31U172037249          LEXUS          LEXUS
31  JTHBJ46G182155074          LEXUS          LEXUS
32  JTHBJ46G382155724          LEXUS          LEXUS
33  JTHBJ46G582156714          LEXUS          LEXUS
34  JTHBJ46G982156103          LEXUS          LEXUS
35  JTHBJ46G172149497          LEXUS          LEXUS
36  JTHBJ46G272148150          LEXUS          LEXUS
37  JTHBJ46G172149614          LEXUS          LEXUS
38  JTHBJ46G472152636          LEXUS          LEXUS
39  JTHBJ46G182155429          LEXUS          LEXUS
40  JTHBJ46G182155687          LEXUS          LEXUS
41  JTHBJ46G282155312          LEXUS          LEXUS
42  JTHBJ46G482155523          LEXUS          LEXUS
43  JTHBJ46G482156655          LEXUS          LEXUS
44  JTHBJ46G182155267          LEXUS          LEXUS
45  JTHBJ46G782156648          LEXUS          LEXUS
46  JTHBJ46G582156602          LEXUS          LEXUS
47  JTHBJ46GX82156370          LEXUS          LEXUS
48  JTHBJ46G872153109          LEXUS          LEXUS
49  JTHBJ46G672153271          LEXUS          LEXUS

In [15]:
from ipywidgets.widgets import Label, FloatProgress, FloatSlider, Button
from ipywidgets.widgets import Layout, HBox, VBox
from IPython.display import display
import time

In [1]:
b_stop = Button(
    description='Query Data Frame?', 
    icon='Stop', 
    button_style='warning', 
    layout=Layout(width='150px')
)

def stop_click(b):
    global flag
    flag = False
    w2.value='Jupyter time: ' + str(time.time())
    
    print(df_50)
    
w2 = Label(
    value = '...',
    layout = Layout(margin='0 10px 0 31px')
)

w12 = HBox(
    children=(b_stop, w2),
    layout=Layout(margin='0 0 0 43px')
)


    
b_stop.on_click(stop_click)
w12

NameError: name 'Button' is not defined