# Exploring Jupyter

 - Loading files
 - Analyzing files
 - Calculating differences

### Working with python

In [1]:
name = "Shall we play a game?"

In [2]:
print(name)

Shall we play a game?

### Working with command line

In [3]:
!ls

Analytics.ipynb       dataset_100           vin_dataset_master
Exception_Draft.ipynb env                   x
btree.cpp             requirements.txt

In [46]:
!clear

###  Working with Pandas

In [4]:
import pandas as pd

In [14]:
df = pd.read_csv('vin_dataset_master', sep='\t', names=['vin'], usecols=['vin'])

In [12]:
df.sort_values(by=['vin'], ascending=True)

                      vin
148817  1T8UZ30C5S0043222
64411   1THBE1BL1E5035713
79730   1THBH96S865045311
15507   1THBK1GG2G2218918
99967   1THFF2C2XC2521798
258318  1TJGW31U182007455
183419  2T2BC1BA0FC001171
216091  2T2BC1BA0FC001719
206465  2T2BC1BA0FC001770
213961  2T2BC1BA0FC001865
224207  2T2BC1BA0FC001946
192220  2T2BC1BA0FC001980
216081  2T2BC1BA0FC002093
218048  2T2BC1BA0FC002112
247762  2T2BC1BA0FC002272
223240  2T2BC1BA0FC002398
223239  2T2BC1BA0FC002529
190401  2T2BC1BA0FC002563
229361  2T2BC1BA0FC002983
175706  2T2BC1BA0FC003034
249852  2T2BC1BA0FC003048
175496  2T2BC1BA0FC003132
213917  2T2BC1BA0FC003356
213215  2T2BC1BA0FC003471
222501  2T2BC1BA0FC003597
188218  2T2BC1BA0FC003843
245293  2T2BC1BA0FC003860
188390  2T2BC1BA0FC003910
222433  2T2BC1BA0FC004233
200707  2T2BC1BA0FC004507
...                   ...
17383   jthbj46g672100750
17908   jthbk1eg6c2506812
28789   jthbk1gg2d2049964
64110   jthbk1gg2f2192089
28818   jthbk1gg8d2060600
106691  jthbk262472040148
139190  jthbl46f275046377
139184  jthbl46f475034022
137473  jthbn30f410013494
26087   jthbw1gg0f2087202
113413  jthck262775009849
113396  jthck262785018102
260627  jthfn48y540057893
2939    jthkd5bh9d2158326
173505  jthse5bc2f5004334
200634  jtjbc1ba0a2012163
248596  jtjbk1baxa2401220
87973   jtjbm7fx3e5086776
85003   jtjbm7fx4b5025366
84427   jtjbt20x550071403
84799   jtjbt20x640066516
207471  jtjga31u240037620
175045  jtjga31u540001436
191225  jtjga31u840013712
206480  jtjgf10ux10090293
193737  jtjhw31u282044096
205898  jtjhw31u760032647
163862  jtjyarbz2g2029110
227195  jtjzk1ba0c2414446
225421  jtjzk1ba7e2011793

[262617 rows x 1 columns]

In [15]:
df.head(30)

                  vin
0   JTHKD5BH0D2170008
1   JTHKD5BH8D2169687
2   JTHKD5BH0D2170428
3   JTHKD5BHXD2168833
4   JTHKD5BH0D2170767
5   JTHKD5BH5D2168769
6   JTHKD5BH4B2027981
7   JTHKD5BH0E2191569
8   JTHKD5BH5E2188022
9   JTHKD5BH6E2188062
10  JTHKD5BH4E2190019
11  JTHKD5BH0E2191619
12  JTHKD5BH0D2139258
13  JTHKD5BHXB2029251
14  JTHKD5BH7C2091854
15  JTHKD5BH6E2199689
16  JTHKD5BH2E2199754
17  JTHKD5BHXE2198447
18  JTHKD5BH2D2155008
19  JTHKD5BHXD2155886
20  JTHKD5BH3B2045355
21  JTHKD5BH8E2206738
22  JTHKD5BH0F2211997
23  JTHKD5BH9E2191828
24  JTHKD5BH8E2191254
25  JTHKD5BH6E2192645
26  JTHKD5BH3C2080740
27  JTHKD5BH9B2026762
28  JTHKD5BH9E2194924
29  JTHKD5BH5E2194158

In [29]:
df['vin'].str[0:3].unique()

array(['JTH', 'jth', 'JT8', '58A', '2T2', '1TH', 'jt8', 'JTJ', 'JLJ',
       'jtj', '1T8', 'JTB', 'JTN', 'JT6', 'jt6', 'JYJ', '2TZ', '2t2',
       'JT1', '2TS', '1TJ'], dtype=object)

In [21]:
for row in df.head(10).itertuples():
    vin = row[1]
    print(vin)

JTHKD5BH0D2170008
JTHKD5BH8D2169687
JTHKD5BH0D2170428
JTHKD5BHXD2168833
JTHKD5BH0D2170767
JTHKD5BH5D2168769
JTHKD5BH4B2027981
JTHKD5BH0E2191569
JTHKD5BH5E2188022
JTHKD5BH6E2188062

In [10]:
df = df_50['vin'].isin(df_100['vin'])

NameError: name 'df_50' is not defined

In [12]:
df.describe()

count       50
unique       1
top       True
freq        50
Name: vin, dtype: object

In [13]:
df.describe()

count       50
unique       1
top       True
freq        50
Name: vin, dtype: object

### Comparing DataFrames
The following code lists all records where vin are in both df_50 and df_100. Reordering the DataFrames at the beginning of the function will impact the results. Modifying the how parameter from 'left' to 'right' will also have the same impact as reordering the DataFrames.

In [14]:
merge_df = pd.merge(df_50, df_100, on=['vin'], how='left')
merge_df

                  vin         make_x         make_y
0   WBAVC93527KX57115            BMW            BMW
1   5TDZK22C08S144726         TOYOTA         TOYOTA
2   5TDZK22C18S143326         TOYOTA         TOYOTA
3   5TDZK22C58S129784         TOYOTA         TOYOTA
4   JTHBJ46G782185180          LEXUS          LEXUS
5   JTHBJ46G682185204          LEXUS          LEXUS
6   JTHBJ46G682169908          LEXUS          LEXUS
7   JTHBJ46G382172586          LEXUS          LEXUS
8   JTHBJ46G882175791          LEXUS          LEXUS
9   JTHBJ46G982175878          LEXUS          LEXUS
10  JTHBJ46G182176684          LEXUS          LEXUS
11  JTEBT14R48K001632         TOYOTA         TOYOTA
12  5TDZK22C18S146193         TOYOTA         TOYOTA
13  WBAVD135X6KV03181            BMW            BMW
14  5TDZK22C98S135555         TOYOTA         TOYOTA
15  JTHBJ46G072023681          LEXUS          LEXUS
16  JTHBJ46G372031435          LEXUS          LEXUS
17  5TDZK22C48S145992         TOYOTA         TOYOTA
18  JTNBB46K483047170         TOYOTA         TOYOTA
19  1YVHP80D375M13991          MAZDA          MAZDA
20  JT3HJ85J1V0186353         TOYOTA         TOYOTA
21  1HGEM22983L076457          HONDA          HONDA
22  JF1GD70655L525454         SUBARU         SUBARU
23  5N1BV28U04N367188         NISSAN         NISSAN
24  1HGFA165X6L093876          HONDA          HONDA
25  1C3EL55R84N365590       CHRYSLER       CHRYSLER
26  1C3EL55R34N335803       CHRYSLER       CHRYSLER
27  JHMBB61401C000991          HONDA          HONDA
28  1FMZU63E91ZA27244           FORD           FORD
29  WDBRF54H26A871275  MERCEDES-BENZ  MERCEDES-BENZ
30  JTJHW31U172037249          LEXUS          LEXUS
31  JTHBJ46G182155074          LEXUS          LEXUS
32  JTHBJ46G382155724          LEXUS          LEXUS
33  JTHBJ46G582156714          LEXUS          LEXUS
34  JTHBJ46G982156103          LEXUS          LEXUS
35  JTHBJ46G172149497          LEXUS          LEXUS
36  JTHBJ46G272148150          LEXUS          LEXUS
37  JTHBJ46G172149614          LEXUS          LEXUS
38  JTHBJ46G472152636          LEXUS          LEXUS
39  JTHBJ46G182155429          LEXUS          LEXUS
40  JTHBJ46G182155687          LEXUS          LEXUS
41  JTHBJ46G282155312          LEXUS          LEXUS
42  JTHBJ46G482155523          LEXUS          LEXUS
43  JTHBJ46G482156655          LEXUS          LEXUS
44  JTHBJ46G182155267          LEXUS          LEXUS
45  JTHBJ46G782156648          LEXUS          LEXUS
46  JTHBJ46G582156602          LEXUS          LEXUS
47  JTHBJ46GX82156370          LEXUS          LEXUS
48  JTHBJ46G872153109          LEXUS          LEXUS
49  JTHBJ46G672153271          LEXUS          LEXUS

In [15]:
from ipywidgets.widgets import Label, FloatProgress, FloatSlider, Button
from ipywidgets.widgets import Layout, HBox, VBox
from IPython.display import display
import time

In [1]:
b_stop = Button(
    description='Query Data Frame?', 
    icon='Stop', 
    button_style='warning', 
    layout=Layout(width='150px')
)

def stop_click(b):
    global flag
    flag = False
    w2.value='Jupyter time: ' + str(time.time())
    
    print(df_50)
    
w2 = Label(
    value = '...',
    layout = Layout(margin='0 10px 0 31px')
)

w12 = HBox(
    children=(b_stop, w2),
    layout=Layout(margin='0 0 0 43px')
)


    
b_stop.on_click(stop_click)
w12

NameError: name 'Button' is not defined